.documents {
  &-list {
    list-style-type: decimal;
    &__item {
      a {
        color: #fd333b;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-sublist {
      list-style-type: disc;
      margin-left: 21px;
    }
  }
}