.gallery {
  &-block {
    &:first-child {
      margin-top: -10px;
    }
    &-date {
      margin: 10px 0 10px 0;
      font-size: 14px;
      color: #3c4043;
    }
    &-img {
      display: flex;
      flex-wrap: wrap;
      &__item {
        height: 200px;
        width: auto;
        margin: 0 4px 4px 0;
        cursor: pointer;
      }
    }
  }
}