@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'e-Ukraine Bold';
  src: url('../fonts/e-UkraineHead-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'e-Ukraine Regular';
  src: url('../fonts/e-UkraineHead-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'e-Ukraine NAME';
  src: url('../fonts/e-UkraineHead-LOGO.ttf') format('truetype');
}

html,
body {
  font-family: e-Ukraine;
  line-height: 19px;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.animation {
  visibility: hidden;
}

.wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.page {
  flex: 1 0 auto;
}

.share {
  display: flex;
  &__title {
    margin-right: 10px;
    align-items: center;
  }
  &-list {
    display: flex;
    &-item {
      margin-right: 10px;
      a i {
        color: #151111;
        font-size: 25px;
      }
    }
  }
}

::selection {
  background: #fd333b;
  color: #fff;
}
::-moz-selection {
  background: #fd333b;
  color: #fff;
}

#disqus_thread {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
}

.page {
  padding: 50px 10px 0 10px;
  @media (max-width: 965px) {
    padding: 35px 10px 0 10px;
  }
  &_nop {
    padding: 50px 0 0 0;
  }
  &__title {
    font-size: 56px;
    padding-bottom: 30px;
    line-height: 56px;
    position: relative;
    font-family: 'e-Ukraine Bold';
    @media (max-width: 1024px) {
      font-size: 48px;
    }
    @media (max-width: 768px) {
      font-size: 40px;
      padding-bottom: 20px;
    }
    @media (max-width: 369px) {
      font-size: 36px;
    }
    &_p {
      padding: 0 10px 30px 10px;
    }
    &_fire {
      position: relative;
      top: 7px;
      right: 10px;
      @media (max-width: 768px) {
        img {
          width: 42px;
        }
      }
    }
    &_right {
      position: absolute;
      right: 0;
      img {
        width: 50px;
        position: relative;
        top: 7px;
        right: 10px;
        @media (max-width: 420px) {
          display: none;
        }
      }
    }
  }
}

header {
  margin-top: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  &-logo {
    padding-left: 10px;
    display: flex;
    &__img {
      @media (max-width: 425px) {
        width: 90px;
        height: auto;
      }
    }
    &__title {
      margin-top: 10px;
      margin-left: 25px;
      font-size: 26px;
      line-height: 32px;
      font-family: 'e-Ukraine NAME';
      @media (max-width: 1155px) {
        font-size: 19px;
        line-height: 24px;
      }
      @media (max-width: 1000px) {
        display: none;
      }
      @media (max-width: 768px) {
        display: block;
        font-size: 26px;
        line-height: 32px;
      }
      @media (max-width: 585px) {
        font-size: 22px;
        line-height: 25px;
        margin-left: 15px;
      }
      @media (max-width: 520px) {
        font-size: 18px;
        line-height: 22px;
      }
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
  &-list {
    display: flex;
    height: 123px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'e-Ukraine Regular';
    @media (max-width: 768px) {
      display: none;
    }
    &_mobile {
      display: none;
      font-family: 'e-Ukraine Regular';
      @media (max-width: 768px) {
        padding: 50px 0 50px 0;
        background: #151111;
        margin-top: 25px;
        text-align: center;
        & > .header-list__item {
          margin-bottom: 50px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            font-size: 32px;
            color: #fff;
            &:hover {
              color: #fd333b;
            }
          }
        }
      }
    }
    &-dropdown {
      position: relative;
      display: inline-block;
      cursor: pointer;
      &:hover &-list {
        display: block;
      }
      &:hover a {
        background-color: #f9f9f9;
      }
      &-list {
        display: none;
        position: absolute;
        background: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 16px;
        &__item a {
          padding: 12px 16px !important;
          display: block;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
    &__item {
      &_active {
        a {
          color: #fd333b !important;
        }
      }
      a {
        color: #151111;
        text-decoration: none;
        align-items: center;
        font-size: 18px;
        transition: color .1s linear;
        padding: 16px;
        @media (max-width: 1101px) {
          padding: 10px;
        }
        &:hover {
          color: #fd333b;
        }
      }
    }
  }
  &__checkbox,
  &__button {
    display: none;
  }

  &__toggle {
    display: none;
    padding-right: 20px;
    @media (max-width: 768px) {
      display: block;
      font-size: 72px;
      margin-top: 40px;
    }
    @media (max-width: 425px) {
      font-size: 61px;
      margin-top: 32px;
    }
  }
}

.slider {
  margin-top: 25px;
  width: 100%;
  min-height: 550px;
  cursor: e-resize;
  flex: 1 0 auto;
  @media (max-width: 965px) {
    min-height: 0;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    outline: none;
    position: relative;
    @media (max-width: 965px) {
      flex-direction: column;
    }
    &-img {
      width: calc(100% / 3 * 2);
      height: 550px;
      overflow: hidden;
      position: relative;
      @media (max-width: 965px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 550px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
    h2 {
      font-size: 62px;
      width: calc(100% / 3);
      margin: 0 auto;
      margin-top: 50px;
      line-height: 62px;
      padding-left: 25px;
      @media (max-width: 1810px) {
        font-size: 52px;
        line-height: 52px;
      }
      @media (max-width: 965px) {
        width: 100%;
        text-align: left;
        margin-top: 70px;
        padding-right: 40px;
        position: absolute;
        z-index: 11;
        color: #fff;
      }
      @media (max-width: 615px) {
        font-size: 48px;
        line-height: 48px;
      }
      @media (max-width: 500px) {
        font-size: 38px;
        line-height: 38px;
      }
    }
  }
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-item {
    width: 300px;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media (max-width: 1245px) {
      width: 260px;
    }
    @media (max-width: 1075px) {
      width: 48%;
    }
    @media (max-width: 620px) {
      width: 100%;
      flex-direction: column;
      margin-bottom: 50px;
    }
    &:hover {
      box-shadow:
      1px 1px #151111,
      2px 2px #151111,
      3px 3px #151111,
      4px 4px #151111,
      5px 5px #151111,
      6px 6px #151111,
      7px 7px #151111,
      8px 8px #151111,
      9px 9px #151111;
      -webkit-transform: translateX(-7px);
      transform: translateX(-7px);
      @media (max-width: 768px) {
        box-shadow: unset;
        animation: unset;
      }
    }
    &-img {
      width: 100%;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      @media (max-width: 620px) {
        height: 300px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        @media (max-width: 620px) {
          height: 300px;
        }
      } 
    }
    &-text {
      padding: 5px 10px 15px 10px;
      &__caption {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 24px;
        font-family: 'e-Ukraine Regular';
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        a {
          color: #000;
          text-decoration: none;
        }
      }
      &__excerpt {
        padding-bottom: 30px;
        font-size: 14px;
        color: #959595;
      }
      &__date {
        position: absolute;
        bottom: 10px;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  @media (max-width: 1024px) {
    display: none;
  }
  &__item {
    margin-right: 20px;
    font-size: 22px;
    a {
      color: #151111;
      text-decoration: none;
      transition: color .1s linear;
      &:hover {
        color: #fd333b;
      }
    }
    &_active {
      a {
        color: #fd333b;
      }
    }
  }
  &_mobile {
    display: none;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      display: flex;
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;
  @media (max-width: 620px) {
    flex-direction: column;
  }
  &-text {
    max-width: 620px;
    width: 100%;
    &__name {
      color: #fd333b;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__description {
      margin-bottom: 20px;
      span {
        font-weight: bold;
      }
    }
  }
  &-image {
    position: relative;
    margin-top: 47px;
    @media (max-width: 620px) {
      order: -1;
    }
    &__img {
      width: 300px;
      height: auto;
      margin-top: -47px;
      margin-right: 44px;
      @media (max-width: 1024px) {
        width: 200px;
      }
      @media (max-width: 620px) {
        width: 300px;
        margin-bottom: 15px;
      }
    }
    &__svg {
      position: absolute;
      right: 0;
      z-index: -1;
      @media (max-width: 1024px) {
        width: 200px;
        height: 302px;
      }
      @media (max-width: 620px) {
        display: none;
      }
    }
  }
}

.contacts {
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 10px 0 10px;
    @media (max-width: 1315px) {
      flex-direction: column;
      align-items: flex-start;
      &__item {
        margin-bottom: 25px;
      }
    }
  }
  &__map {
    margin-bottom: -4px;
  }
}

.footer {
  padding: 50px 10px 50px 10px;
  width: 100%;
  background: #151111;
  color: #fff;
  margin-top: 50px;
  flex-shrink: 0;
  @media (max-width: 965px) {
    padding: 50px 0 50px 0;
  }
  &_nom {
    margin-top: 0;
  }
  & > .wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 965px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-about {
    flex-basis: 31.8%;
    @media (max-width: 965px) {
      text-align: center;
      margin-bottom: 40px;
    }
    &__logo {
      img {
        width: 120px;
      }
    }
    &__copyright {
      margin-top: 15px;
      @media (max-width: 965px) {
        width: 50%;
        margin: 15px auto;
      }
    }
  }
  &-links,
  &-contacts {
    flex-basis: 23.1%;
    @media (max-width: 965px) {
      margin-bottom: 40px;
      text-align: center;
    }
  }
  &__caption {
    font-size: 18px;
    color: #fd333b;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &-links-list__item {
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-contacts {
    margin-bottom: 0px;
    &-list__item {
      margin-bottom: 5px;
    }
    &-social {
      margin-top: 25px;
      display: flex;
      width: 25px;
      height: auto;
      @media (max-width: 965px) {
        justify-content: space-around;
        width: 100%;
      }
      &__item {
        margin-right: 13px;
        @media (max-width: 965px) {
          margin-right: 0;
        }
        & > a {
          color: #fd333b;
        }
      }
    }
  }
}