@font-face {
  font-family: e-Ukraine;
  src: url("../fonts/e-Ukraine-Light.ttf") format("truetype");
}
html,
body {
  font-family: e-Ukraine;
  line-height: 19px;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.page {
  flex: 1 0 auto;
}

::selection {
  background: #fd333b;
  color: #fff;
}

::-moz-selection {
  background: #fd333b;
  color: #fff;
}

@-webkit-keyframes shadow {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
  to {
    -webkit-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
  }
}
@keyframes shadow {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
  to {
    -webkit-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
  }
}
#disqus_thread {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
}

.page {
  padding: 50px 10px 0 10px;
}
@media (max-width: 965px) {
  .page {
    padding: 35px 10px 0 10px;
  }
}
.page_nop {
  padding: 50px 0 0 0;
}
.page__title {
  font-size: 56px;
  padding-bottom: 30px;
  line-height: 56px;
  position: relative;
}
@media (max-width: 1024px) {
  .page__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .page__title {
    font-size: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 369px) {
  .page__title {
    font-size: 36px;
  }
}
.page__title_p {
  padding: 0 10px 30px 10px;
}
.page__title_fire {
  position: relative;
  top: 7px;
  right: 10px;
}
@media (max-width: 768px) {
  .page__title_fire img {
    width: 42px;
  }
}
.page__title_right {
  position: absolute;
  right: 0;
}
.page__title_right img {
  width: 50px;
  position: relative;
  top: 7px;
  right: 10px;
}

header {
  margin-top: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding-left: 10px;
}
@media (max-width: 425px) {
  .header-logo a img {
    width: 90px;
    height: auto;
  }
}
.header-list {
  display: flex;
  height: 123px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header-list {
    display: none;
  }
}
.header-list_mobile {
  display: none;
}
@media (max-width: 768px) {
  .header-list_mobile {
    padding: 50px 0 50px 0;
    background: #151111;
    margin-top: 25px;
    text-align: center;
  }
  .header-list_mobile > .header-list__item {
    margin-bottom: 50px;
  }
  .header-list_mobile > .header-list__item:last-child {
    margin-bottom: 0;
  }
  .header-list_mobile > .header-list__item a {
    font-size: 32px;
    color: #fff;
  }
  .header-list_mobile > .header-list__item a:hover {
    color: #fd333b;
  }
}
.header-list-dropdown {
  position: relative;
  display: inline-block;
}
.header-list-dropdown:hover .header-list-dropdown-list {
  display: block;
}
.header-list-dropdown:hover a {
  background-color: #f9f9f9;
}
.header-list-dropdown-list {
  display: none;
  position: absolute;
  background: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 16px;
}
.header-list-dropdown-list__item a {
  padding: 12px 16px !important;
  display: block;
}
.header-list-dropdown-list__item a:hover {
  background-color: #f1f1f1;
}
.header-list__item_active a {
  color: #fd333b !important;
}
.header-list__item a {
  color: #151111;
  text-decoration: none;
  align-items: center;
  font-size: 18px;
  transition: color .1s linear;
  padding: 16px;
}
@media (max-width: 1101px) {
  .header-list__item a {
    padding: 10px;
  }
}
.header-list__item a:hover {
  color: #fd333b;
}
.header__checkbox, .header__button {
  display: none;
}
.header__toggle {
  display: none;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .header__toggle {
    display: block;
    font-size: 72px;
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  .header__toggle {
    font-size: 61px;
    margin-top: 32px;
  }
}

.slider {
  margin-top: 25px;
  width: 100%;
  min-height: 550px;
  cursor: e-resize;
}
@media (max-width: 965px) {
  .slider {
    min-height: 0;
  }
}
.slider-item {
  display: flex;
  justify-content: space-between;
  outline: none;
}
@media (max-width: 965px) {
  .slider-item {
    flex-direction: column;
  }
}
.slider-item-img {
  width: 50%;
  height: 550px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 965px) {
  .slider-item-img {
    display: none;
  }
}
.slider-item-img img {
  width: 100%;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.slider-item h2 {
  font-size: 72px;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 72px;
  padding-left: 10px;
}
@media (max-width: 965px) {
  .slider-item h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 0;
  }
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-item {
  width: 300px;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 1245px) {
  .news-item {
    width: 260px;
  }
}
@media (max-width: 1075px) {
  .news-item {
    width: 48%;
  }
}
@media (max-width: 620px) {
  .news-item {
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.news-item:hover {
  bottom: 10px;
  right: 15px;
  animation: shadow 0.25s;
  -webkit-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
}
.news-item:hover:after {
  background: black;
}
.news-item-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 620px) {
  .news-item-img {
    height: 300px;
  }
}
.news-item-img img {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
@media (max-width: 620px) {
  .news-item-img img {
    height: 300px;
  }
}
.news-item-text {
  padding: 5px 10px 15px 10px;
}
.news-item-text__caption {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 24px;
}
.news-item-text__caption:hover {
  text-decoration: underline;
  cursor: pointer;
}
.news-item-text__caption a {
  color: #000;
  text-decoration: none;
}
.news-item-text__excerpt {
  padding-bottom: 30px;
  font-size: 14px;
  color: #959595;
}
.news-pagination {
  display: flex;
  justify-content: center;
}
.news-pagination__item {
  margin-right: 20px;
  font-size: 22px;
}
.news-pagination__item a {
  color: #151111;
  text-decoration: none;
  transition: color .1s linear;
}
.news-pagination__item a:hover {
  color: #fd333b;
}
.news-pagination_mobile {
  display: none;
}

.about {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 620px) {
  .about {
    flex-direction: column;
  }
}
.about-text {
  max-width: 620px;
  width: 100%;
}
.about-text__name {
  color: #fd333b;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-text__description {
  margin-bottom: 20px;
}
.about-text__description span {
  font-weight: bold;
}
.about-image {
  position: relative;
  margin-top: 47px;
}
@media (max-width: 620px) {
  .about-image {
    order: -1;
  }
}
.about-image__img {
  width: 300px;
  height: auto;
  margin-top: -47px;
  margin-right: 44px;
}
@media (max-width: 1024px) {
  .about-image__img {
    width: 200px;
  }
}
@media (max-width: 620px) {
  .about-image__img {
    width: 300px;
    margin-bottom: 15px;
  }
}
.about-image__svg {
  position: absolute;
  right: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .about-image__svg {
    width: 200px;
    height: 302px;
  }
}
@media (max-width: 620px) {
  .about-image__svg {
    display: none;
  }
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 10px 0 10px;
}
@media (max-width: 965px) {
  .contacts-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts-list__item {
    margin-bottom: 25px;
  }
}
.contacts__map {
  margin-bottom: -4px;
}

.footer {
  padding: 50px 10px 50px 10px;
  width: 100%;
  background: #151111;
  color: #fff;
  margin-top: 50px;
  flex-shrink: 0;
}
@media (max-width: 965px) {
  .footer {
    padding: 50px 0 50px 0;
  }
}
.footer_nom {
  margin-top: 0;
}
.footer > .wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 965px) {
  .footer > .wrap {
    flex-direction: column;
    align-items: center;
  }
}
.footer-about {
  flex-basis: 31.8%;
}
@media (max-width: 965px) {
  .footer-about {
    text-align: center;
    margin-bottom: 40px;
  }
}
.footer-about__logo img {
  width: 120px;
}
.footer-about__copyright {
  margin-top: 15px;
}
@media (max-width: 965px) {
  .footer-about__copyright {
    width: 50%;
    margin: 15px auto;
  }
}
.footer-links, .footer-contacts {
  flex-basis: 23.1%;
}
@media (max-width: 965px) {
  .footer-links, .footer-contacts {
    margin-bottom: 40px;
    text-align: center;
  }
}
.footer__caption {
  font-size: 18px;
  color: #fd333b;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-links-list__item {
  margin-bottom: 5px;
}
.footer-links-list__item a {
  text-decoration: none;
  color: #fff;
}
.footer-links-list__item a:hover {
  text-decoration: underline;
}
.footer-contacts {
  margin-bottom: 0px;
}
.footer-contacts-list__item {
  margin-bottom: 5px;
}
.footer-contacts-social {
  margin-top: 25px;
  display: flex;
  width: 25px;
  height: auto;
}
@media (max-width: 965px) {
  .footer-contacts-social {
    justify-content: space-around;
    width: 100%;
  }
}
.footer-contacts-social__item {
  margin-right: 13px;
}
.footer-contacts-social__item > a {
  color: #fd333b;
}

/*# sourceMappingURL=main.css.map */
