.article {
  &__header {
    text-align: center;

    @media (max-width: 425px) {
      text-align: left;
    }
  }

  &__title {
    font-size: 46px;
    font-family: 'e-Ukraine Regular';
    
    @media (max-width: 768px) {
      font-size: 36px;
    }
    
    @media (max-width: 450px) {
      font-size: 26px;
    }
  }

  &__date {
    margin: 10px 0 30px 0;
    font-size: 17px;
    color: #959595;
    
    @media (max-width: 768px) {
      margin: 10px 0 20px 0;
      font-size: 15px;
    }
  }

  &__content {
    margin: 40px auto 25px;
    max-width: 620px;
    width: 100%;

    h2 {
      font-size: 26px;
      font-family: 'e-Ukraine NAME';
      margin: 10px 0 8px;

      @media (max-width: 768px) {
        font-size: 23px;
      }
      
      @media (max-width: 450px) {
        font-size: 20px;
      }
    }

    img {
      width: 100%;
      margin: 15px 0 15px 0;
    }

    iframe {
      margin: 15px 0 15px 0;
    }

    a {
      color: #fd333b;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__other {
    margin: 40px auto 25px;
    max-width: 620px;
    width: 100%;
  }

  &__text {
    font-size: 17px;
    
    @media (max-width: 675px) {
      margin: 20px auto 0;
    }
  }

  &__comments {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
  }
}

.article-back {
  display: flex;
  
  svg {
    width: 50px;
    transform: rotate(180deg);
    
    @media (max-width: 1024px) {
      width: 40px;
    }
    
    @media (max-width: 369px) {
      width: 35px;
    }
  }
}

.article-img {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  flex-basis: 40%;

  @media (max-width: 1024px) {
    height: 500px;
  }

  @media (max-width: 675px) {
    height: 300px;
  }

  @media (max-width: 425px) {
    height: 250px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    
    @media (max-width: 1024px) {
      height: 500px;
    }

    @media (max-width: 675px) {
      height: 300px;
    }

    @media (max-width: 425px) {
      height: 250px;
    }
  }
}

.share {
  display: flex;
  
  &-item {
    margin-right: 10px;
    
    a i {
      color: #151111;
      font-size: 25px;
    }
  }
}

.news-item {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  margin-bottom: 0;
  margin-top: 20px;

  &:hover {
    box-shadow: unset;
    transform: unset;
  }
}

.news-item-img {
  height: 150px;
  width: 150px;
  flex-basis: 45%;
  order: 1;

  @media (max-width: 415px) {
    height: 100px;
    width: 100px;
    flex-basis: 35%;
  }

  &__item {
    height: 150px;
    width: 150px;
    border-radius: 15px;

    @media (max-width: 415px) {
      height: 100px;
      width: 100px;
    }
  }
}

.news-item-text {
  flex-basis: 70%;
}