.news__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }
  @media (max-width: 1024px) {
    .news__body {
      flex-direction: column; } }
.news__left {
  flex-basis: 70%; }
.news__right {
  flex-basis: 30%;
  margin-left: 50px; }
  @media (max-width: 1024px) {
    .news__right {
      order: -1;
      margin-left: 0; } }
.news__inner {
  flex-basis: 60%;
  margin-left: 30px;
  position: relative; }
  @media (max-width: 768px) {
    .news__inner {
      flex-basis: 100%;
      margin-left: 0; } }

.news-list-item {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e7e7; }
  .news-list-item:first-child {
    padding-top: 0; }
  .news-list-item:last-child {
    border-bottom: none; }

.news-list-item-img {
  width: 280px;
  height: 240px;
  overflow: hidden;
  position: relative;
  flex-basis: 40%; }
  @media (max-width: 768px) {
    .news-list-item-img {
      display: none; } }
  .news-list-item-img img {
    position: absolute;
    width: 100%;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; }

.news-list-item-text {
  font-size: 14px;
  color: #959595; }
  .news-list-item-text__caption {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 24px;
    font-family: 'e-Ukraine Regular'; }
    .news-list-item-text__caption:hover {
      text-decoration: underline;
      cursor: pointer; }
  .news-list-item-text__excerpt {
    padding-bottom: 30px; }
  .news-list-item-text__date {
    position: absolute;
    bottom: 25px; }
    @media (max-width: 768px) {
      .news-list-item-text__date {
        position: unset; } }
